<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="C:/Users/ozdileto/Desktop/git-projeMuhasebe/muhasebe-test">
        <classes>
            <class name="muhasebe.Admin">
                <methods>
                    <include name="checkAccess"/>
                    <include name="listUsers"/>
                    <include name="changeUserData"/>
                </methods>
            </class>
            <class name="muhasebe.Debug">
                <methods>
                    <include name="getSampleJson"/>
                </methods>
            </class>
            <class name="muhasebe.Default">
                <methods>
                    <include name="welcome"/>
                </methods>
            </class>
            <class name="muhasebe.Login">
                <methods>
                    <include name="registerLogin"/>
                    <include name="getToken"/>
                    <include name="adminLogin"/>
                </methods>
            </class>
            <class name="muhasebe.User">
                <methods>
                    <include name="changePass"/>
                    <include name="user"/>
                    <include name="checkFile"/>
                    <include name="sendXmlinZip"/>
                    <include name="getComparisonOverview"/>
                    <include name="getSpecificComparison"/>
                </methods>
            </class>
            <class name="org.muhasabe.AppTest">
                <methods>
                    <include name="shouldAnswerWithTrue"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>